<div class="row">
  <div class="col-md-4">
    <h2>SMILES Highlight demo</h2>
    <p>Draw a structure, click on the star icon of the editor and click on one or more atoms
    </p>

    <div id="jsme_container"></div>
      <form>
        <input type="checkbox" id="canonic_check" onclick='show_smiles();'>Canonical SMILES
      </form>
      <br>
      <div>
        SMIlES:
        <br>
        <textarea id="smiles_container" #smiles></textarea>
      </div>
    <button (click)="getSmiles(smiles)"  class="btn btn-success btn-sm">Search</button>
  </div>

  <div class="col-md-8">
    <div>
      <div *ngIf="errorMsg">
        <h3>{{errorMsg}}</h3>
      </div>
      <div *ngIf="compound">
        <div>
          <h3>Compound Infomation</h3>
          <table class="table table-striped table-hover table-responsive">
            <tr>
              <th>#</th>
              <th>genericName</th>
              <th>image</th>
              <th>molWeight</th>
              <th>cas</th>
              <th>drugbankId</th>
            </tr>

            <tr>
              <td>1</td>
              <td>{{compound.genericName}}</td>
              <td>{{compound.smiles}}</td>
              <td>{{compound.molWeight}}</td>
              <td>{{compound.cas}}</td>
              <td>{{compound.drugbankId}}</td>
            </tr>
          </table>
        </div>

        <div>
          <h3>Uniprot Infomation</h3>
          <table class="table table-striped table-hover table-responsive">
            <tr>
              <th>#</th>
              <th>entry</th>
              <th>entryName</th>
            </tr>

            <tr *ngFor="let edge of edges; let i= index">
              <td>{{i+1}}</td>
              <td>{{edge.node.entry}}</td>
              <td>{{edge.node.entryname}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

