<div *ngIf="loading">
  <h3>Loading...</h3>
</div>

<div *ngIf="!loading">
  <table class="table table-striped table-hover table-responsive">
    <tr>
      <th>#</th>
      <th>genericName</th>
      <th>image</th>
      <th>smiles</th>
      <th>molWeight</th>
      <th>cas</th>
      <th>drugbankId</th>
      <th>uniprot-detail</th>
    </tr>

    <tr *ngFor="let edge of edges; let i=index">
      <td>{{i+1}}</td>

      <td>{{edge.node.genericName}}</td>
      <td><img src="{{edge.node.image}}" class="img-responsive img-thumbnail" alt="No Image"></td>
      <td>{{edge.node.smiles}}</td>
      <td>{{edge.node.molWeight}}</td>
      <td>{{edge.node.cas}}</td>
      <td>{{edge.node.drugbankId}}</td>
      <td><a (click)="gotoUniprotDetail(edge.node.id)">
        {{edge.node.uniprotinfoSet.edges.length}}</a></td>
    </tr>
  </table>

  <footer>
    <pagination [totalItems]="bigTotalItems"
                [(ngModel)]="bigCurrentPage"
                [maxSize]="maxSize"
                (pageChanged)="pageChanged($event)"
                [itemsPerPage]="bigItemsPerPage"
                class="pagination-sm"></pagination>
  </footer>
</div>
